<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Etat de mon stock</h1>
      <%= link_to new_vehicule_vehicule_item_path(@vehicule), class: "btn btn-primary btn-lg" do %>
        Scanner <i class="fa fa-camera fa-fw"></i>
      <% end %>
      <p>ou</p>
      <input type="text" class="form-control" placeholder="nom du produit ...">
    </div>
  </div>
</div>
<p></p>
<% @items.each do |vitem| %>
  <p><%= vitem.item.name %></p>
<% end %>

