<section class="login">
  <div class='top'>
    <p>Identification</p>
  </div>
  <div class='content'>
    <p class='labelVehicule1'>Veuillez saisir le numéro de votre véhicule</p>
    <p class='labelVehicule2'>Numéro de plaque d'immatriculation</p>

    <%= simple_form_for @vehicle, url: find_vehicle_path, method: "get" do |f| %>
      <%= f.input :code, label: false, placeholder: "BZ-421-DE", input_html: {class: "form-control code-input"} %>
      <a href='#' class='listeVehicules'>
        Liste des véhicules
      </a>
      <div id="validate">
        <%= f.submit "Valider", class: "btn btn-success btn-lg btn-valider"  %>
      </div>
    <% end %>
  </div>
</section>
